.to-top {
	height: 50px;
	width: 50px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.219) 0 3px 7px, rgba(0, 0, 0, 0.089) 0 2px 5px;
}
