.align {
	margin: auto;
}
.height-50 {
    height: 50rem;
}
.height-25 {
    height: 25rem;
}

.mt-3{
    margin-top: 3rem;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-center{
    text-align: center;
}

.text-last{
    text-align-last: center;
}
