$large: 992px;
$medium: 768px;
$small: 576px;
$x-large: 1200px;




// $breakpoint-desktop: 1600px;
// $breakpoint-notebook: 1024px;
// $breakpoint-tablet: 768px;
// $breakpoint-mobile: 410px;
// $breakpoint-laptop: 1023px;
// $breakpoint-lg-laptop: 1280px;
// $breakpoint-tv: 1416px;
// $breakpoint-lg-tv: 2000px;


